/* use flex-box to position stuff
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#22333B, #639FAB);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.location {
  position: relative;
  bottom: 50px;
}

.card {
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 5px 5px black;
  background: linear-gradient(#639FAB, #22333B);
  height: 200px;
  width: 210px;
  text-align: center;
  margin: 10px;
}

.box1 {
  display: flex;
  justify-content: space-around;
}

.box2 {
  display: flex;
  justify-content: space-around;
}
/* #dartmeet {
  bottom: 17px;
  left: -270px;
}

#postbridge {
  bottom: 17px;
  left: -170px;
}

#havford {
  bottom: 17px;
  left: -70px;
} */